.SingleApplication {
  display: grid;
  grid-template-columns: 15% 15% auto 15% 15% 15%;
  padding: 20px;

  background-color: white;
  box-shadow: 0px 5px 16px 0px rgba(173, 200, 215, 0.25);
  border-radius: 10px;
  margin-bottom: 1rem;
}

.cell {
  text-align: left;
  border-right: 1px solid #eee;
  padding: 0 15px;
  font-size: 0.9rem;
  color: #1a2b3c;
  font-weight: 600;
}

.cell sub {
  display: block;
  font-size: 0.75rem;
  color: #a0a8b1;
  margin-bottom: 5px;
  font-weight: 500;
}

.email {
  color: #246ac1;
  text-decoration: none;
}

.email:hover {
  text-decoration: underline;
}
